# Environments
.venv/
venv/
**/.venv/
**/venv/

# Build artifacts
build/
dist/
**/build/
**/dist/

# Logs
logs/
**/logs/
*.log

# Python cache
__pycache__/
**/__pycache__/
*.pyc

# Packaging metadata
*.egg-info/
**/*.egg-info/

# Secrets
config.json
*.env
.env

# VSCode (opcional: jo el deixaria fora del repo)
.vscode/